name: Release

on:
  push:
    branches:
      - "main"
    tags:
      - "v*"

permissions:
  contents: write
  id-token: write
  attestations: write

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ${{ github.workspace }}/kernel

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Cache Pico SDK
        id: cache-sdk
        uses: actions/cache@v5
        with:
          path: ${{ github.workspace }}/kernel/pico-sdk
          key: pico-sdk-${{ runner.os }}-${{ hashFiles('kernel/CMakeLists.txt') }}
      
      - name: Dependencies
        run: bash ./setup.sh

      - name: Build kernel
        run: bash ./build.sh

      - name: Attest build provenance
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: "${{ github.workspace }}/kernel/build/my_console.uf2"

      - name: Upload artifact
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: "${{ github.workspace }}/kernel/build/my_console.uf2"
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
